.container{
	border: 5px solid green;
	background-color: white;
}

.header{
	border: 5px solid red;
}

.header--inner{
	border: 5px solid orange;
}

.article{
	border: 5px solid blue;
	background-color:  #E8FBFB;
	margin-top: 10px;
	padding: 5px;
	clear: right;
	height: 100%;
	overflow: auto;

}


.date{
	border: 5px solid purple;
	display: inline;
}

h2 {
	display:inline;
}

body{
	margin: 10%;
	background-image: url(images/background.jpg);
}

.spatula{
	padding-top: 40px; 
	float:right;
	height: 130px;
	width: 130px;
}

.cookiemonster{
	padding-top: 40px; 
	float:right;
}


